services:
  db:
    image: postgres:17-alpine
    container_name: postgres
    restart: unless-stopped
    environment: 
      POSTGRES_USER: "${DB_USER:-hackersquare-admin}"
      POSTGRES_PASSWORD: "${DB_PASSWORD:-password}"
      POSTGRES_DB: "${DB_NAME:-hackersquare-dev-db}"
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: